body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
#headerdiv{
    display: flex;
    flex-direction: row;
}
#img{
    display: flex;
    width: 20%;
}
#header{
    display: flex;
    width: 80%;
}
.conteiner{
    display: flex;
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: stretch;
}
#left{
    display: flex;
    width: 20%;
}
#cont{
display: flex;
width: 60%;
background-color: rgb(170, 241, 211, 0.4);

}
#right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}
div, label{
    width: 90%;
    /* align-self: center; */
    margin-bottom: 5px;
    margin-top: 1px;
}
.content{
    width: 90%;
    align-self: center;
}
.cont, div, label{
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
} 